@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gallery {
  overflow: hidden;
}

.scroll-row {
  white-space: nowrap;
  overflow: hidden;
}

.scroll-content {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.left-to-right .scroll-content {
  animation-direction: normal;
}

.right-to-left .scroll-content {
  animation-direction: reverse;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}